<div class="container">
  <div class="row px-4 mx-auto mt-5">
    <div class="col-6 mt-2">
      <h2 class="mb-4"><strong>Study Partnerとは</strong></h2>
      <p>その日に学習したことを記録するサイトです！</p>
      <p>学習のモチベーションを維持、向上するために</p>
      <p>ぜひ活用してみてください。</p>
      
    </div>
    <div class="col-6 mt-2">
      <%= image_tag 'about.jpg',size: '450x350' ,alt: "勉強風景" %>
    </div>
  </div>
</div>