<div class="container">
  <div class="row px-3 mx-auto mt-5">
    <div class="col mt-2">
      <h2 class="mb-4"><strong>StudyPartnerとは</strong></h2>
      <p>その日に学習したことを記録するSNSです！</p>
      <p>学習のモチベーションを維持、向上するために</p>
      <p>ぜひ活用してみてください。</p>
    </div>
  </div>
</div>
      