<h1>welcome to
<i class="fas fa-pencil-alt"></i>
<strong>Study Partner</strong> !!
</h1>

<p>In
<i class="fas fa-book"></i>
<strong>Study Partner</strong>
,
</p>
<p>you can share and exchange  your opinions ,
inpressions , and emotions about studying!</p>

<%= link_to 'ログイン', login_path, class:"btn btn-info btn-block mb-3 sign_in" %>
<%= link_to '新規登録', signup_path, class:"btn btn-success btn-block sign_up" %>