 <footer class="bg-footer bg-dark text-white py-2 fixed-bottom ">
  <div class="row">
    <div class="mx-auto">
      <ul class="p-0 m-0 list-unstyled list-inline">
        <li class="list-inline-item">
          <a href="" title="About" class="text-white-50"><small>© 2021 Study Partner</small></a>
        </li>
        <li class="list-inline-item">
          <a href="" title="License informations" class="text-white-50"><small>プライバシーポリシー</small></a>
        </li>
      </ul>
    </div>
  </div>
</footer>